<!DOCTYPE HTML>
<html class="LoginPage">
   <head>
      <title><%= title %></title>
      <meta charset="UTF-8">
      <link rel='stylesheet' type="text/css" href='/stylesheets/common.css'/>
      <link rel='stylesheet' type="text/css" href='/stylesheets/loginPage.css'/>
      <link rel='stylesheet' type="text/css" href='/slickSlider/slick/slick.css'/>
      <link rel='stylesheet' type="text/css" href='/slickSlider/slick/slick-theme.css'/>
      <link rel="stylesheet" type="text/css" href='/stylesheets/msgBoxLight.css'>
      
   
      <script type="text/javascript" src="/jQuery/jquery-1.12.0.js"></script>
      <script type="text/javascript" src="/slickSlider/slick/slick.min.js"></script>
	  <script type="text/javascript" src="/jQuery-msg/jquery.msgBox.js"></script>
	  <script type="text/javascript" src='/javascripts/loginPageSrc.js' /></script>
	  <script src="http://<%=socketIP%>:3001/socket.io/socket.io.js"></script>
      <script src ='/javascripts/connectionSrc.js'></script>
   </head>
<body>
   <div id="LoginPage-a">
      <div id="a-LogIn1">
         <img id="a-Logo" src="/images/LoginPage/login_logo.png">
      </div>
	<div class = 'slick'>
	<div id = 'slickPage1'>
      <div id="a-LogIn2">
         <form id="a-form" >
           <table id="a-Table">
             <tbody>
                <tr>
                     <td>
                         <label for="a-Id2">
                             <img id="a-Id1" src="/images/LoginPage/ID.png">
                         </label>
                     </td>
                     <td>
                          <input type="email" name="email" id="a-Id2" placeholder="Enter your email">
                     </td>
                     <td rowspan="2">
                         <img id="a-LogInButton" src="/images/LoginPage/log_in.png" >
                     </td>
                 </tr>
                 <tr>
                    <td>
                         <label for="a-Pw2">
                             <img id="a-Pw1" src="/images/LoginPage/PW.png">
                         </label>
                     </td>
                     <td>
                          <input type="password" name="password" id="a-Pw2" placeholder="password" >
                     </td>
                 </tr>
             </tbody>
            </table>
          </form>
      </div>
      <div id="a-LogIn3">
         <div id="a-Bar">
         </div>
         <form id="a-form1">
            <img id="a-SignUp" src="/images/LoginPage/sign_up.png" >
          </form>
      </div>
      </div>
      <div id="slickPage2">    
          <div id="a-SignUpWith">
            <img id="a-SUW" class="SP2" src="/images/LoginPage/sign_up_with.png">
          </div>
          <div id="a-WithFacebook">
            <img id="a-WF" class="SP2" src="/images/LoginPage/facebook.png">
          </div>
          <div id="a-WithNaver">
            <img id="a-WN" class="SP2" src="/images/LoginPage/naver.png">
          </div>
          <div id="a-WithKakao">
            <img id="a-WK" class="SP2" src="/images/LoginPage/kakaotalk.png">
          </div>
          <div id="a-WithEmail">
            <img id="a-WE" class="SP2" src="/images/LoginPage/your_email.png">
          </div>
          <div id="a-GoBack">
            <img id="a-BT" src="/images/LoginPage/go_back.png">     
          </div>
        </div>
      </div>
    </div>  
  </body>
</html>
