/*page1------------------------Login Page-a*/
#LoginPage-a{
  width:100%;
}
#a-LogIn1{
  border:1px solid none;
  width:100%;
  height:auto;
  padding:150px 0 50px 0;
}
#a-Logo{
  max-width:500px;
  height:100px;
  display:block;
  margin:0 auto;
  border:1px solid none;
}
#a-LogIn2{
  border:1px solid none;
  width:100%;
  height:auto;
  padding:20px 0 20px 0;
}
#a-Table{
   border:1px solid none;
   margin-left: auto; 
   margin-right: auto;
   text-align:center;
   border-spacing:15px 12px;
}
#a-Id1{
   width:20px;
   height:20px;
}
#a-Id2{
  padding-left:2px;
  border:1px solid #BFBFBF;
  display:block;
  margin:0 auto;
}
#a-Pw1{
   width:20px;
   height:20px;
}
#a-Pw2{
  padding-left:2px;
  border:1px solid #BFBFBF;
  display:block;
  margin:0 auto;
}
#a-LogInButton{
   cursor: pointer;
   width:60px;
   height:60px;
   display:block;
   vertical-align:middle;
}
#a-LogIn3{
  width:100%;
  height:auto;
}
#a-Bar{
   width:700px;
   height:6px;
   border:1px solid none;
   background:gray;
   display:block;
   margin:0 auto;
}
#a-SignUp{
   cursor: pointer;
   display:block;
   margin:0 auto;
   margin-top:30px;
   width:250px;
   height:40px;
}


/****slick2****/
.SP2{
   display:block;
   margin:0 auto;
   width:300px;
   height:40px;
   margin-top:2.5px;
   margin-bottom:2.5px;
}

/**고친곳 위에 sp2 뺌**/
#a-WF{
	cursor:pointer;
}

#a-WN{
	cursor:pointer;
}

#a-WK{
	cursor:pointer;
}

/**고친곳 끝**/

#a-WE{
   cursor:pointer;
   width:300px;
    height:40px;
    margin-top:2.5px;
    margin-bottom:2.5px;
}
#a-BT{
   position:absolute;
   cursor:pointer;
   width:40px;
   height:40px;
    right:27%;
    bottom:2%;
}

/*slickslider setting Login Page-a*/
.slick-slide {
   position: relative;
   outline: none !important;
}